@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700&display=swap");
/* Define vars */
/* Basic styles */
a {
  margin: 0;
  padding: 0; }

body {
  margin: 0 auto;
  padding: 0;
  width: 318px; }

footer {
  margin: 20px 0 0 0;
  font-family: "Source Sans Pro", sans-serif;
  list-style: none;
  text-decoration: none; }

header {
  background: url("../images/main-mobile-header.png") no-repeat 95% 50%;
  height: 218px;
  width: 318px;
  background-size: contain; }

h1 {
  margin: 0; }

h3 {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  font-size: 1.3rem; }

p {
  font-family: "Source Sans Pro", sans-serif; }

img {
  margin: 0;
  padding: 0; }

ul {
  padding: 0;
  margin: 0; }

/* Responsive styles */
/*@media (min-width: 768px) {
  body {
    width: 768px;
  }
  footer {
    margin: 0;
  }
}

@media (min-width: 1200px) {
   body {
    width: 1200px;
  }
}*/
/* Generic block styles */
#container {
  margin: auto;
  width: 318px; }

#icon {
  margin: auto;
  padding: 8px 0 30px 65px; }

#logo {
  width: 180px; }

.social-icon {
  width: 20px; }

/* Page-specific styles */
.main-image {
  margin-left: 30px;
  width: 247px; }
  .main-image__header {
    color: white;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 400;
    text-shadow: 2px 2px 5px black;
    margin: 0px;
    font-size: 1.2rem; }
  .main-image__text {
    color: white;
    font-weight: 600;
    margin: 0px;
    text-shadow: 0px 0px 5px black;
    font-size: 1.1rem; }

.main-about {
  margin-left: 30px; }
  .main-about__bold {
    display: none; }
  .main-about__text {
    width: 255px;
    font-size: 0.9rem;
    color: #5A6162;
    margin: 26px 0 30px 0; }

.main-need {
  background: url("../images/main-need-image.png") no-repeat;
  background-size: 100% 100%;
  width: 318px; }
  .main-need__header {
    color: #A2AE8A;
    margin: 0 0 0 120px;
    padding-top: 26px; }
  .main-need__left {
    margin-right: 30px; }
  .main-need__list-image {
    width: 62px;
    padding: 0 0 0 35px; }
  .main-need__list {
    margin-left: 30px; }
  .main-need__list-text {
    width: 115px;
    color: white;
    font-size: 0.9rem;
    text-align: center;
    margin: 0px; }
  .main-need__top {
    display: flex;
    flex-flow: row wrap;
    margin-top: 18px; }
  .main-need__bottom {
    display: flex;
    flex-flow: row wrap;
    margin-top: 18px;
    padding-bottom: 40px; }

.main-help {
  margin: 0 0 0 30px;
  list-style: none; }
  .main-help__list-header {
    font-size: 1.1rem;
    color: #5A6162;
    margin: 5px 0 0 0; }
  .main-help__list-body {
    margin: 8px 0 12px 0;
    color: #96A2A4; }
  .main-help__list-button {
    margin-bottom: 35px;
    font-weight: 600;
    font-size: 0.8rem;
    color: #6F7B53;
    border: 2px solid #6F7B53;
    background-color: white;
    border-radius: 3px;
    padding: 4px 14px;
    cursor: pointer; }
  .main-help__list-image {
    width: 250px; }
  .main-help__header {
    margin: 0 0 0 35px;
    padding: 26px 0 16px 0;
    color: #A2AE8A; }

.main-subscribe {
  background-color: #5A6162; }
  .main-subscribe__button {
    color: white;
    background-color: #A2AE8A;
    cursor: pointer;
    border: none;
    border-radius: 3px;
    padding: 7px 14px 3px 14px; }
  .main-subscribe__data {
    margin-left: 30px;
    padding-bottom: 30px; }
  .main-subscribe__header {
    margin: 0 0 0 30px;
    padding: 26px 0 14px 0;
    color: white;
    line-height: 1.5rem; }
  .main-subscribe__email-input {
    width: 252px;
    padding: 3px;
    margin: 5px 0; }
  .main-subscribe__name-input {
    width: 120px;
    padding: 3px; }

/*# sourceMappingURL=styles.css.map */