a {
    margin: 0;
    padding: 0;
}

body {
    margin: 0 auto;
    padding: 0;
    width: 318px;
}

footer {
    margin: 20px 0 0 0;
}

header {
    background: url("../images/main-mobile-header.png") no-repeat 95% 50%;
    height: 218px;
    width: 318px;
    background-size: contain;
}

h1 {
  margin: 0;
}

h3 {
  font-family: $font-body;
  font-weight: $weight-regular;
  font-size: 1.2rem;
}

p {
  font-family: $font-body;
}

img {
    margin: 0;
    padding: 0;
}

ul {
    padding: 0;
    margin: 0;
}

/* Responsive styles */

/*@media (min-width: 768px) {
  body {
    width: 768px;
  }
  footer {
    margin: 0;
  }
}

@media (min-width: 1200px) {
   body {
    width: 1200px;
  }
}*/
