.main-image {
  margin-left: 30px;
  width: 247px;

  &__header {
    color: white;
    font-family: $font-body;
    font-weight: $weight-regular;
    text-shadow: 2px 2px 5px black;
    margin: 0px;
    font-size: 1.2rem;
  }

  &__text {
    color: white;
    font-weight: $weight-semi-bold;
    margin: 0px;
    text-shadow: 0px 0px 5px black;
    font-size: 1.1rem;
  }
}

.main-about {
  margin-left: 30px;

  &__bold {
  display: none;
}

  &__text {
  width: 255px;
  font-size: 0.9rem;
  color: $color-blue-800;
  margin: 26px 0 30px 0;
}
}

.main-need {
  //background: url("../images/main-need-image.png") no-repeat;\\
  background-color: $color-blue-800;
  background-size: 100% 100%;
  width: 318px;

  &__header {
    color: $color-green-800;
    margin: 0 0 0 120px;
    padding-top: 26px;
  }

  &__left {
    margin-right: 30px;
  }

  &__list-image {
    width: 62px;
    padding: 0 0 0 35px;
  }

  &__list {
    margin-left: 30px;
  }

  &__list-text {
    width: 115px;
    color: white;
    font-size: 0.9rem;
    text-align: center;
    margin: 0px;
  }

  &__top {
    display: flex;
    flex-flow: row wrap;
    margin-top: 18px;
  }

  &__bottom {
    display: flex;
    flex-flow: row wrap;
    margin-top: 18px;
    padding-bottom: 40px;
  }
}

.main-help {
  margin: 0 0 0 30px;
  list-style: none;

  &__list-header {
    font-size: 1.1rem;
    color: $color-blue-800;
    margin: 5px 0 0 0;
  }

  &__list-body {
    margin: 8px 0 12px 0;
    color: $color-blue;
  }

  &__list-button {
    margin-bottom: 35px;
    font-weight: $weight-semi-bold;
    font-size: 0.8rem;
    color: $color-green;
    border: 2px solid $color-green;
    background-color: white;
    border-radius: 3px;
    padding: 4px 14px;
    cursor: pointer;
  }

  &__list-image {
    width: 250px;
  }

  &__header {
    margin: 0 0 0 35px;
    padding: 26px 0 16px 0;
    color: $color-green-800;
  }
}

.main-subscribe {
  background-color: $color-blue-800;

  &__button {
    color: white;
    background-color: $color-green-800;
    cursor: pointer;
    border: none;
    border-radius: 3px;
    padding: 7px 14px 3px 14px;
  }

  &__data {
    margin-left: 30px;
    padding-bottom: 30px;
  }

  &__header {
    margin: 0 0 0 30px;
    padding: 26px 0 14px 0;
    color: white;
    line-height: 1.5rem;
  }

  &__email-input {
    width: 252px;
    padding: 3px;
    margin: 5px 0;
  }

  &__name-input {
    width: 120px;
    padding: 3px;
  }
}
